h1 { margin: 0%;  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;} 

.site-header { background-color: bisque; max-width: 1000px;margin: auto;}


html  {background-color: rgb(174, 239, 239); }

.main { background-color: pink; margin: auto;padding: 0px;}

.site-footer { background-color:aquamarine;}

.hh { font-size: 30px;}

.page-header { background-color: blanchedalmond;
margin:auto;
margin-bottom: 10px;}

h1,p,ul{ margin:auto;max-width: 500px;
padding: 10px;}

.main {background-color: pink;
margin: auto; padding: 20px; margin-bottom: 10px ;}


.sec-1,.sec-2,.sec-3 { background-color: rgba(144, 72, 88, 0.512);
margin: auto; max-width:500px; padding: 20px;margin-bottom: 10px;}

.aside { background-color: rgba(127, 255, 212, 0.415);
margin: auto; max-width: 500px; padding: 20px; margin-bottom: 10px;} 

footer { background-color: rgba(86, 154, 213, 0.805);
margin: auto; ; margin-bottom: 10px;}

.foot-div { border-top: 8px solid rgba(0, 0, 0, 0.434) ;max-width: 500px; margin:auto}


.add-ul { list-style: none; padding-right: 10px;}
.ad-1 { border-bottom: 50px black;}
 